@import url("https://fonts.googleapis.com/css2?family=Housttely+Signature&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}
.main-content {
  padding-top: 0px; /* matches navbar height */
}

.App {
  text-align: center;
  width: 100%;
  padding-top: 0px;
  margin: 0;
  overflow-x: hidden;
  position: relative;
}

.video-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Full screen height */
  width: 100%;
  overflow: hidden;
  z-index: 0;
}

.background-clip {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  width: auto;
  height: auto;
  object-fit: cover; /* Maintain aspect ratio, crop if needed */
  z-index: -1; /* Behind content */
}

.content {
  position: relative;
  z-index: 2;
  text-align: center;
  color: white;

  padding-top: 70px;
}

/* Welcome Section */
.welcome-section {
  position: absolute;
  top: 18%; /* Move it higher (Adjust as needed) */
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  z-index: 2; /* Ensure text stays on top of video */
  width: 100%;
  padding: 0 20px; /* Prevent text from touching edges */
}

.welcome-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.welcome-title {
  font-size: 48px;
  font-family: "Dancing Script", cursive;
  font-weight: 700; /* Bold */
  font-style: italic; /* Italic */
  text-transform: uppercase;
  margin: 0;
}

.welcome-subtitle {
  font-size: 64px;
  font-weight: bold;
  font-family: "Dancing Script", cursive;
  letter-spacing: 8px;
  margin: 0;
}

.welcome-slogan {
  font-size: 20px;
  margin-top: 10px;
  font-family: "Dancing Script", cursive;
  text-align: center;
  border-bottom: 2px solid white; /* Customize thickness & color */
  display: inline-block; /* Ensures the underline fits the text width */
  padding-bottom: 5px; /* Adjust spacing between text and line */
}

/* Footer */
.footer {
  background-color: #333;
  color: white;
  padding: 20px 0;
  text-align: center;
}
